<header class="header">
    <nav class="fixnav">
      <a class="icon__link--burguer" href="https://adalab.es" target="_blank"><i class="fa-solid fa-bars"></i></a>
      <ul class="fixnav__list">
        <li>
          <a class="fixnav__list--item" href="https://adalab.es" target="_blank">Productos</a>
        </li>
        <li>
          <a class="fixnav__list--item" href="https://adalab.es" target="_blank">Colecciones</a>
        </li>
        <li>
          <a class="fixnav__list--item" href="https://adalab.es" target="_blank">Tienda</a>
        </li>
        <li>
          <a id="home" class="fixnav__list--item" href="#home">Inicio</a>
        </li>
      </ul>
    </nav>
    <img class="header__logo" src="./assets/images/logo.png" alt="Open Spaces logo" />
    <h1 class="header__title">Disfruta creando espacios</h1>
    <button class="button__big">Comprar ahora</button>
  </header>