<main>

  <!-- MODULE 2 -->

  <section class="module2">
      <h2 class="module2__title">
        Volverse organizado se siente mejor con
        <span class="module2__title--span">open spaces</span>
      </h2>
      <article class="module2__item item1">
        <img class="module2__item--img" src="./assets/images/icon_1.png" alt="Furniture set" />
        <h3 class="module2__item--subtitle">Lo que necesitas</h3>
        <p class="module2__item--content">
          Una línea de productos diseñados para todos tus espacios
        </p>
      </article>
      <article class="module2__item item2">
        <img class="module2__item--img" src="./assets/images/icon_2.png" alt="Sustainable bag" />
        <h3 class="module2__item--subtitle">Materias primas sustentables</h3>
        <p class="module2__item--content">
          Todos los productos con materias primas sustentables
        </p>
      </article>
      <article class="module2__item item3">
        <img class="module2__item--img" src="./assets/images/icon_3.png" alt="Guide signal" />
        <h3 class="module2__item--subtitle">Guía</h3>
        <p class="module2__item--content">
          Soporte y asesoramiento para ayudarte con tu objetivo
        </p>
      </article>

  </section>

  <!-- MODULE 3 -->

  <section class="module3">
    <img class="module3__img" src="./assets/images/icon_4.png" alt="Shipping truck" />
    <h2 class="module3__title">Envío gratis garantizado</h2>
    <p class="module3__content">Envío gratis en compras desde 100</p>
    <button class="button2">Comprar ahora</button>
  </section>

  <!-- MODULE 4 -->

  <section class="module4">
    <article class="module4__item wrapper">
      <h2 class="module4__item--title">Disfruta creando espacios</h2>
      <p class="module4__item--content">
        Una línea de productos diseñados para todos tus espacios
      </p>
      <button class="button1">Comprar ahora</button>
    </article>
    <img class="module4__img" src="./assets/images/creando-espacios.jpg" alt="Beautifully decorated bathroom" />
  </section>

</main>