.footer {
    position: relative;
    background-color: $text1;
    color: $text2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 56px 0;
    &__title {
        font-size: 1.25rem;
    }
    &__nav {
        padding-top: 30px;
        width: 208px;
        &--item {
            color: $text2;
        }
        &--social {
            display: flex;
        }
    }
}

.social__icon {
    padding-right: 11px;
}