/* -- MODULE 2 -- */

.module2 {
    background-color: $background1;
    color: $text1;
    text-align: center;
    padding: 40px 0 40px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 114px 1fr 1fr 1fr;
    grid-template-areas: "title" "item1" "item2" "item3";
    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 80%;
        grid-template-areas: "title title title" "item1 item2 item3"
    }
    &__title {
        width: 322px;
        margin: 0 auto;
        font-size: $moduleTitle;
        &--span {
            text-transform: uppercase;
        }
        grid-area: title;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--img {
            width: 90px;
            height: 100px;
            margin-top: 37px;
        }
        &--subtitle {
            margin-top: 42px;
            font-size: 1.25rem;
            width: 208px;
        }
        &--content {
            margin-top: 12px;
            width: 208px;
        }
    }
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

/* -- MODULE 3 -- */

.module3 {
    background-color: $background2;
    color: $text3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0;
    &__img {
        width: 120px;
        height: 120px;
    }
    &__title {
        font-size: $moduleTitle;
        padding-top: 18px;
    }
}

/* -- MODULE 4 -- */

.module4 {
    background-color: $background1;
    color: $text1;
    text-align: center;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 27px;
        &--content {
            margin-bottom: 30px;
        }
    }
    &__img {
        height: 304px;
        background: url(../images/creando-espacios.jpg) center / cover;
    }
}